* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: inherit;
    box-sizing: border-box;
}
body {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

header {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.contain {
    display: flex;
    padding: 10px 0;
    height: 50px;
    width: 900px;
    justify-content: space-between;
}   
#hero-container {
    width: 900px;
    display: flex;
    gap: 30px;

}
#hero-img {
    flex: 3;
    height: 25vh;
}
p.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

ul.header-items {
    gap: 10px;
}

.nav {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    justify-content: center;
    height: 35vh;
    padding: 30px 0;
    display: flex;
    gap: 20px   
}
.text {
    flex: 2;
}
.hero .text {
    display: flex;
    flex-direction: column;
}

#big {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.small {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 8px;
}

.sign-up {
    background-color: #3882f6;
    width: fit-content;
    padding: 5px 24px;
    border-radius: 8px;
    border: #3882f6 solid 1px;
    color: #f9faf8;
    font-weight: 700;
}

.image {
    background-color: gray;
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: small;
}

.information {
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.black-big {
    padding: 20px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.cards {
    display: flex;
    gap: 30px;
}

.card {
    width: 150px;
    align-items: center;
}

.box {
    width: 150px;
    height: 150px;
    border: #3882f6 solid 2px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.subtext {
    text-align: center;
    color: rgb(74, 74, 74);
}

.quote {
    height: 35vh;
    display: flex;
    justify-items: space-around;
    align-items: center;
    background-color: #e5e7eb;
}
#fix {
    flex: 1;
}
.quote-text {
    margin: 0 auto;
    width: 600px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}
.author {
    font-size: 24px; 
    margin: 0 auto;
    width: 600px;
    text-align: right;
    font-weight: 700;
}

.cta {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue {
    border-radius: 10px;
    background-color: #3882f6;
    width: 900px;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    align-items: center;
}

.wb {
    border: #f9faf8 solid 2px;
    
}
.ctabig {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}
/* .information, .quote, .cta {
    flex: 1;
} */

.hero, .foot, header {
    background-color: #1F2937;
    color: #f9faf8;
}
.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;
}
